 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a BS Software Engineering student, currently in final semester, I have worked on developing Android Games using Unity3D and C#. I have more than 6 months of experience in developing optimized and polished Android games.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have developed Game AI, movement mechanics, scoring system, health systems, game physics including everything in my games as I have worked as a solo programmer on the projects. I have experience with using different plugins from Asset Store. I have working knowledge of ingame-Ads as I have used them in my games</p>
             </div>
            </div>
        </div>
    </section>
